# PYROGRAM SETTINGS
PYRO_API_ID=12345678
PYRO_API_HASH=""

# POSTGRESQL SETTINGS
DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASS=root
DB_NAME=db

# BROKER CONNECTION SETTINGS
BROKER_URL=""
BROKER_IN_TOPIC=""
BROKER_OUT_TOPIC=""

# LOGGER
LOGGER="ON" # ON - LOGGER WRITE DATA, OFF - LOGGER DISABLED
LOGGER_LEVEL="INFO" # DEBUG, INFO, WARN, ERROR, CRIT